################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XmlBasedCalculator/learnings/ParsingXML__C-C___/ParsingXML (C-C++)
